@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink-color: #974B66;
    --gray-color: #F6F5F2;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.navbar {
    background-color: white;
}

.navbar a {
    color:black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.outline-black {
    border: 2px solid black;
    padding: 4px 4px;
    border-radius: 5px;
    color: black;
}

.outline-black:hover {
    background-color: black;
    color: white;
}

.background {
    background-color: #974B66;
    padding: 50px 0;
}

.basket {
    padding-top: 70px;
    position: relative;
    display: inline-block;
}

.page1 {
    position: relative;
    min-height: 90vh;
}
.page1 h5 {
    font-family: "Playfair Display", serif;
    font-size: 30pt;
}

.page1 p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0rem;
}

.text-left {
    position: absolute;
    top: 50%; /* Position the text in the middle vertically */
    left: 0;
    transform: translateY(-70%); /* Center vertically */
    padding: 10px;
    padding-left: 50px;
    z-index: 1;
}

.text-bleft {
    position: absolute;

    left: 40%;
    transform: translateX(-0%); 
    padding: 10px;
    
}
.text-bright {
    position: absolute;
    left: 70%;
    transform: translateX(-0%); 
    padding: 10px;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
} 

/* End of Page 1 */

.page2 h5 {
    font-family: "Playfair Display", serif;
    font-size: 20pt;
}

.page2 {
    padding-top: 200px;
}

.page2 p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0rem;
}


.text-here {
    padding-top: 300px;
    padding-left: 50px;
}


* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
 
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }
}

/* End of Page 2 */

.page3 {
    padding-top: 300px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.page3 h5 {
    font-family: "Playfair Display", serif;
    font-size: 30pt;
}

.page2 p {
    font-family: "Poppins", sans-serif;
    width: 80%;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
    width: 80%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px );
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.foot {
    padding-top: 100px;
    max-width: 100%;
}

.f1 img {
    size: 200%;
}

.f2 img {
    size: 200%;
}