@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink-color: #974B66;
    --gray-color: #F6F5F2;
}


.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.navbar.scrolled {
    background-color: white;
    color: #000 !important;
    
}

.outline-black {
    border: 2px solid black;
    padding: 4px 4px;
    border-radius: 5px;
    color: black;
}

.outline-black:hover {
    background-color: black;
    color: white;
}

.navbar {
    background-color: transparent;
    transition: all 0.5s;
    color:white !important
}

.navbar a {
    color:white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.navbar.scrolled a {
    color:#000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.page1 {
    height: 94vh;
    background-color: #974B66;
}

.page1 h1 {
    bottom: 0;
}

.bottom-text {
    position: absolute;
    bottom: 100px;
    left: 200px;
}

.bottom-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 60pt;
    font-weight: 100;
}

.bottom-text p {
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 10px;
  }

.flower {
    padding-right: 0rem;
}

.gambar {
    width: 110%;
}

.wrapper h1 {
    font-family: "Playfair Display", serif;
    font-size: 40pt;
    font-weight: 100;
}

.wrapper p {
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
    opacity: 70%;
}

.galerif {
    padding-top: 50px;
    
}

.galerif {
    display: flex; /* Use flexbox to arrange the cards horizontally */
    justify-content: space-around; /* Distribute space evenly between the cards */
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.card h3 {
    font-family: "Poppins", sans-serif
    
}
.btn {
    font-family: "Poppins", sans-serif

}

.bouquet {
    background-color: var(--gray-color);
}

.p3 {
    background-color: #fff;
    height: 75vh;
}
.pag3 {
    overflow: hidden;
    margin-top: 25vh;
}
.pag3 h5{
    font-family: "Playfair Display", serif;
    font-size: 40px;
}
.pag3 p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}



.footer a {
    font-family: "Poppins", sans-serif;
}
.footer p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.footer h5 {
    font-family: "Poppins", sans-serif;
    text-size-adjust: 100px;
    font-size: 20px;
    
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
}
.logo {
    width: 25px; /* Ubah ukuran sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Sesuaikan jarak antara logo dan teks */
}
.text-pesona {
    font-size: 1.25rem; /* Sesuaikan ukuran font */
    margin: 5px; /* Hapus margin bawaan */
}

.icon-row {
    display: flex;
    gap: 10px; /* Sesuaikan jarak antar ikon */
}
.svg-container {
    position: relative;
    width: 30px;
    height: 30px;
}
.svg-container .circle {
    position: absolute;
    top: 0;
    left: 0;
}
.svg-container .icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}